fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic-settings
python-jose[cryptography]==3.5.0
passlib[bcrypt]>=1.7.4
celery
redis==5.2.1
openai
requests
moviepy==1.0.3
faster-whisper>=0.10.0
google-api-python-client
google-auth-oauthlib
email-validator
numpy<2.0
